@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;

}

/* color palettes */

:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #969696;
    --gray-2: #d3d3d3;
    --card--: #f8dfb8;
    --check--: #fac08d;
    --dark--: #222;
    --darkform--: #5c5c5c;

}

/* call "body.mode" followed by the class or id to activate dark mode   */

body {
    width: 100%;
    height: 100%;
    background: var(--white--);

}

body.modo-escuro {
    background-color: #222;
    color: #fff;
}


body.modo-escuro label {
    color: var(--white);

}


body.modo-escuro form {
    background-color: var(--darkform--);
}


body.modo-escuro p {
    color: var(--white--);
}

body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--white--);
}



body.modo-escuro .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

body.modo-escuro .container {
    background-color: var(--darkform--);

}

body.modo-escuro .bg-body-tertiary {
    --bs-bg-opacity: 0;
}


body.modo-escuro .d-flex {
    background-color: var(--dark--);

}



body.modo-escuro header {

    text-align: center;

}


body.modo-escuro .navbar-toggler-icon {
    color: #1DA1F2;
}



body.modo-escuro .container {
    background: var(--card--);
}

body.modo-escuro .form {
    background: var(--card--);
}


body.modo-escuro .navbar-toggler {
    background-color: var(--primary-color);
}


body.modo-escuro .dropdown-menu.show{
    background-color: var(--dark--);
}


body.modo-escuro #acesso {
    cursor: pointer;
    color: var(--white);
    font-size: 0.6rem;
    outline: none;
    height: 2rem;
    text-align: left;
    border-radius: 8px;

}





body.modo-escuro svg {
    color: var(--white);
    width: 40px;
    height: 25px;
}



.svg-branco path,
.svg-branco rect,
.svg-branco circle,
.svg-branco polygon,
.svg-branco polyline,
.svg-branco line {
    fill: var(--white) !important;
    stroke: var(--white) !important;
}




body.modo-escuro #buscar {
    width: 9rem;

    cursor: pointer;
    color: var(--white);
    font-size: 0.6rem;
    outline: none;
    height: 1.7rem;
    text-align: center;
    border-radius: 8px;
    border-radius: .5rem;
    border-color: var(--black);
    border: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--check--);



}


body.modo-escuro h1 {
  color: var(--white);

}


.navbar-nav.me-auto.mb-2.mb-lg-0{
    display: flex;
    justify-content: left;
    margin: 0px;
    padding: 0px;

}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img{
    border-radius: 50%;
    width: 10rem;
    height: 10 rem;
    margin-top: 10px;

}
.card {
    background-color: #ac2020;
    color: #000000;
}


body.modo-escuro footer p {
    color: #fff;

}


/* end of dark mode */


.logotipo {
    display: flex;
    justify-content: center;
}

#logo img {
    display: flex;
    width: 5rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* navbar */
.nav-item {
    display: flex;
    justify-content: left;
}


.nav-link.active{
    display: flex;
    justify-content: left;
}





/* option #menu dessabled */
/*#menu {
    display: flex;
    justify-content: right;

}
 */

.container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: inherit;
    justify-content: space-between;

    flex-direction: row;
}


/* make navbar transparent */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    --bs-tertiary-bg-rgb: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}


/* defines characteristics of buttons */
#acesso {
    cursor: pointer;
    color: var(--black);
    font-size: 0.6rem;
    outline: none;
    height: 2rem;
    text-align: left;
    border-radius: 8px;
}

#acesso:hover {
    background-color: var(--check--);
}




/* define with the collapse button */

button.navbar-toggler {
    background-color: var(--primary-color);
}

.navbar-toggler-icon {
    background-color: var(--primary-color);

}


#buscar {
    width: 9rem;
    

    cursor: pointer;
    color: var(--black);
    font-size: 0.6rem;
    outline: none;
    height: 1.7rem;
    text-align: center;
    border-radius: 8px;
    border-radius: .5rem;
    border-color: var(--black);
    border: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--check--);




}


#buscar:hover {
    background-color: var(--check--);
}



/* button teeth icon */
svg {
    width: 40px;
    height: 25px;
}

.bntacesso {

    display: flex;
    flex-direction: row;

}

/* key for dark mode */

#toggle-mode {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: left;
    font-size: 0.8rem;

}

#toggle-mode label {
    font-size: 0.6rem;
}

.form-check-input:checked {
    background-color: #010a18;
    border-color: #ffffff;
}


.btn-outline-success {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

}

/* color label*/
.form-control {
    height: 1.5rem;
    font-size: 0.7rem;
}

input.form-control.me-2{
    font-size: 0.7rem;
}


/* search bar position */

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}





.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }





h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px
}

label {

    margin: 10px;
    color: var(--black);

}




#pesquisa {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    height: 2.5rem;

}

#pesquisa:hover {
    background-color: #a33f37; 
}

#saibamais{
font-size: 0.6rem;

    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}



#saibamais:hover{
    background-color: #a33f37; 
}


label {
    font-size: 1rem;

}

.form-control {
    width: 55%;
    height: 3rem;
}


h3{
    font-size: 1rem;
}


#filtro {
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-content: center;



}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


#flexCheckDefault{
    border: 1px solid var(--black);
}

.form-check-label {
    font-size: 0.8rem;
}


h3{
    text-align: center;
}


#resultados {

    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}


.card{

    margin: 1rem;
/*     border-radius: 1rem;*/  
    background: var(--card--);
    width: 15rem;
   
 
}


.card-text{
    font-size: 0.8rem;
    text-align: justify;

}

.card{
    transition: 500ms linear;

}

.card:hover{
    transform: scale(1.1);
}


.btn-primary{
    background: var(--primary-color);
    border: var(--primary-color);
}



h5{
    display: block; 
    height: 2.7rem;}


#myBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background:none;
/*     background: var(--check--); ativar penas para teste */

/*  color: white; */ 
    cursor: pointer;
/*     border-radius: 10px; */


/* 
    box-shadow:  0 0 0 0 var(--check--);
    border-radius: 50%;
    animation: alerta 1.5s infinite;
    transition: background, padding 500ms ease-in-out;   */

}




  

  #myBtn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;



    -webkit-animation-name: btn-pulsando;
    animation-name: btn-pulsando;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }



  @-webkit-keyframes btn-pulsando {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes btn-pulsando {
    0% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }






footer {


    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}



footer p {
    font-size: 0.8rem;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}




    

@media only screen and (max-width: 768px) {
    /* #filtro {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: left;
        align-items: center;
        


    } */

    #filtro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2rem);
        padding: 1rem;
        justify-content: center;

    }

    .form-check {
        margin: none;
        display: flex;
        justify-content: left;
        align-items: left;
        

    }

    .form-check label {
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 0.8rem;
        padding: 0;

    }


    .form-control{

        width: 90%;
    }

}


