@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    /* font-family: Josefin Sans;*/
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    /*     font-weight: 500; */

}



:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #969696;
    --gray-2: #d3d3d3;
    --card--: #FCF3E5;
    --check--: #fac08d;
    --dark--: #222;
    --darkform--: #5c5c5c;




    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}


body {
    width: 100%;
    height: 100%;
    background: var(--white--);

}

body.modo-escuro {
    background-color: #222;
    color: #fff;
}


body.modo-escuro label {
    color: var(--card--);

}


body.modo-escuro form {
    background-color: var(--darkform--);
}


body.modo-escuro p {
    color: var(--white--);
}

body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--white--);
}



body.modo-escuro .container-fluid {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

body.modo-escuro .container {
    background-color: var(--darkform--);

}

body.modo-escuro .bg-body-tertiary {
    --bs-bg-opacity: 0
}


body.modo-escuro .d-flex {
    background-color: var(--dark--);

}



.nav-item {
    display: flex;
    justify-content: center;
}




body.modo-escuro header {

    text-align: center;

}


body.modo-escuro .container
 {
    background: var(--card--);
}

body.modo-escuro .form
 {
    background: var(--card--);
}



.card {
    background-color: #ac2020;
    color: #000000;
}


body.modo-escuro footer p {
    color: #fff;

}


#menu {
    display: flex;
    justify-content: right;

}


.container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: inherit;
    justify-content: right;

    flex-direction: row;
}




.bg-body-tertiary {
    --bs-bg-opacity: 0
}




#acesso {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;
}

#acesso:hover {
    background-color: #a33f37;
}


.logotipo {
    display: flex;
    justify-content: center;
}

#logo img {
    display: flex;
    width: 12rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}









#acesso:hover {
    background-color: #a33f37;
}


svg {
    width: 40px;
    height: 25px;
}

.bntacesso {

    display: flex;
    flex-direction: row;
    /*     justify-content: center;
 */
}

#toggle-mode {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

#toggle-mode label {
    font-size: 0.8rem;
}


.navbar-toggler {
    display: flex;
    background-color: var(--white);
    justify-content: right;
}


.btn-outline-success {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

}

#menu {
    display: flex;
    justify-content: right;
}


#buscar {
    cursor: pointer;
    width: 10.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;

}


#buscar:hover {
    background-color: #a33f37;
}

.form-control {
    height: 2rem;
}


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}





.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: right;
}



.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color: var(--card--);
    border-radius: 8px;
    /*     box-shadow: 5px 10px 15px -3px rgba(0, 0, 0.2, 0.4), 0 4px 6px -2px rgba(0, 0.1, 0.6, 0.08); */
    border-radius: 4px;
    height: 50%;
    align-items: center;
    border-radius: 8px;

}

.imagem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
}

.container img {
    display: flex;
    width: 70%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
    height: 100%;

}



h1 {
    text-align: center;
    font-size: 1.5rem;
}


.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;

}


.form {
    background-color: var(--card--);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 30rem;
    border-radius: 0.5rem;
    /*     box-shadow: 5px 10px 15px -3px rgba(0, 0, 0.2, 0.4), 0 4px 6px -2px rgba(0, 0.1, 0.6, 0.08); */
    margin-top: 1rem;
    width: 100%;
    height: 32rem;
    gap: 1rem;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #595b5d;
    margin: 8px 0;
}

.input-container input {
    background-color: var(--card--);
    color: var(--black);
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 2rem;
}


.submit {
    cursor: pointer;
    width: 15.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.5rem;
    outline: none;
    height: 2.5rem;
    margin: 15px;

    text-align: center;
    width: 100%;


}

.submit:hover {
    background-color: #a33f37;
}

.signup-link {
    color: var(--black);
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}


#password {
    width: 100%;
}

.fa{
    position: fixed;
    margin: 10px;
}


footer {


    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}



footer p {
    font-size: 0.8rem;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}



@media only screen and (max-width: 768px) {

    
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 20px auto;
        padding: 20px;
        background-color: var(--card--);
        border-radius: 8px;
        /*     box-shadow: 5px 10px 15px -3px rgba(0, 0, 0.2, 0.4), 0 4px 6px -2px rgba(0, 0.1, 0.6, 0.08); */
        border-radius: 4px;

    }

    .imagem {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 50%;
    }

    .container img {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 50%;

    }






    .form {
        background-color: var(--card--);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 30rem;
        border-radius: 0.5rem;
        /*         box-shadow: 5px 10px 15px -3px rgba(0, 0, 0.2, 0.4), 0 4px 6px -2px rgba(0, 0.1, 0.6, 0.08); */
        width: 90%;
        height: 28rem;
        gap: 1rem;
    }


    .submit{
        font-size: 0.8rem;
    }

    .signup-link a{
        font-size: 0.8rem;
    }


    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .signup-link {
        font-size: 0.8rem;
        margin: none;
    }


    .signup-link a{
        font-size: 0.8rem;
        margin: none;
    }


    p {
        margin-top: 0px;
        font-size: 0.8rem;
    }
    
        
    footer {

        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
    }



    footer p {
        font-size: 0.8rem;
    }





}