@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    /* font-family: Josefin Sans;*/
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    /*     font-weight: 500; */

}



:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #969696;
    --gray-2: #d3d3d3;
    --card--: #FCF3E5;
    --check--: #fac08d;
    --dark--: #222;
    --darkform--: #5c5c5c;




    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}


body {
    width: 100%;
    height: 100%;
    background: var(--white--);

}

body.modo-escuro {
    background-color: #222;
    color: #fff;
}


body.modo-escuro label {
    color: var(--card--);

}


body.modo-escuro form {
    background-color: var(--darkform--);
}


body.modo-escuro p {
    color: var(--white--);
}

body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--white--);
}



body.modo-escuro .container-fluid {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

body.modo-escuro .container {
    background-color: var(--darkform--);

}

body.modo-escuro .bg-body-tertiary {
    --bs-bg-opacity: 0
}


body.modo-escuro .d-flex{
    background-color: var(--dark--);

}



.nav-item {
    display: flex;
    justify-content: center;
}




body.modo-escuro header {

    text-align: center;
    margin-bottom: 3rem;

}




.card {
    background-color: #ac2020;
    color: #000000;
}


body.modo-escuro footer p {
    color: var(--white);

}


#menu {
    display: flex;
    justify-content: right;

}

.container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: inherit;
    justify-content: right;

    flex-direction: row;
}




.bg-body-tertiary {
    --bs-bg-opacity: 0
}




#acesso {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;
}

#acesso:hover {
    background-color: #a33f37;
}


.logotipo {
    display: flex;
    justify-content: center;
}

#logo img {
    display: flex;
    width: 12rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}









#acesso:hover {
    background-color: #a33f37;
}


svg {
    width: 40px;
    height: 25px;
}

.bntacesso {

    display: flex;
    flex-direction: row;
    /*     justify-content: center;
 */
}

#toggle-mode {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

#toggle-mode label {
    font-size: 0.8rem;
}


.navbar-toggler {
    display: flex;
    background-color: var(--white);
    justify-content: right;
}


.btn-outline-success {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

}

#menu {
    display: flex;
    justify-content: right;
}


#buscar{
    cursor: pointer;
    width: 10.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;

}


#buscar:hover {
    background-color: #a33f37;
}

.form-control{
    height: 2rem;
}


.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}





.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: right;
}


h1{
    text-align: center;
}

.abas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    padding: 2rem;
    justify-content: center;
}



.input-group{
    display: flex;
    justify-content: left;
    padding: 1rem;
    width: 100%;
} 




input .input-group{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 8rem;
} 



#addon-wrapping{
    width: 5rem;
}

#label-input{
    width: 14rem;
    height: 2.5rem;
}


.opcao{
    display: flex;
    justify-content: center;
    margin: 0.5rem;

}

.opcao button{
    cursor: pointer;
    width: 10.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;

}


.opcao button:hover {
    background-color: #a33f37;
}




#seguranca{
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
}

#seguranca input .form-control{
    height: 3rem;
}


.input-group>.form-control{
    height: 2.5rem;
    width: 8rem;

}










.tab-btn{

    cursor: pointer;
    width: 10.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;

}


#tab-btn:hover {
    background-color: #a33f37;
}

























footer {


    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}




footer p {
    font-size: 0.8rem;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}


@media only screen and (max-width: 768px) {






}