@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(12, 12, 12);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;

}

/* color palettes */

:root {
  --primary-color: #d57119;
  --secondary-color: #57B894;
  --black: #000000;
  --white: #ffffff;
  --gray: #969696;
  --gray-2: #d3d3d3;
  --card--: #ffc975;
  --check--: #fac08d;
  --dark--: #222;
  --darkform--: #5c5c5c;
  --lite--:#f5ecde;


}

/* call "body.mode" followed by the class or id to activate dark mode   */

body {
  width: 100%;
  height: 100%;
  background: var(--lite--);

}

body.modo-escuro {
  background-color: #222;
  color: #fff;
}


body.modo-escuro label {
  color: var(--white);

}


body.modo-escuro form {
  background-color: var(--darkform--);
}


body.modo-escuro p {
  color: var(--white--);
}

body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--white--);
}



body.modo-escuro .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

body.modo-escuro .container {
  background-color: var(--darkform--);

}

body.modo-escuro .bg-body-tertiary {
  --bs-bg-opacity: 0;
}


body.modo-escuro .d-flex {
  background-color: var(--dark--);

}



body.modo-escuro header {

  text-align: center;

}


body.modo-escuro .navbar-toggler-icon {
  color: #1DA1F2;
}



body.modo-escuro .container {
  background: var(--dark--);
}

body.modo-escuro .form {
  background: var(--card--);
}


body.modo-escuro .navbar-toggler {
  background-color: var(--primary-color);
}


body.modo-escuro .dropdown-menu.show {
  background-color: var(--dark--);
}

.dropdown-menu{
  background-color: var(--lite--);
}


body.modo-escuro #acesso {
  cursor: pointer;
  color: var(--white);
  font-size: 0.6rem;
  outline: none;
  height: 2rem;
  text-align: left;
  border-radius: 8px;

}





body.modo-escuro svg {
  color: var(--white);
  width: 40px;
  height: 25px;
}



.svg-branco path,
.svg-branco rect,
.svg-branco circle,
.svg-branco polygon,
.svg-branco polyline,
.svg-branco line {
  fill: var(--white) !important;
  stroke: var(--white) !important;
}




body.modo-escuro #buscar {
  cursor: pointer;
  color: var(--white);
  font-size: 0.6rem;
  outline: none;
  height: 1.7rem;
  text-align: center;
  border-radius: 8px;
  border-radius: .5rem;
  border-color: var(--black);
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--dark--);
  border: 1px solid var(--check--);



}


body.modo-escuro .higiene {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark--);
}

body.modo-escuro .higiene li {
  color: var(--white);
}

body.modo-escuro .higiene h2 {
  color: var(--white);
}

body.modo-escuro h1 {
  color: var(--white);

}


body.modo-escuro #barra_pesquisa{
 background-color: var(--dark--);
}


.navbar-nav.me-auto.mb-2.mb-lg-0 {
  display: flex;
  justify-content: left;
  margin: 0px;
  padding: 0px;

}

.dropdown-menu.show {
  display: flex;
  justify-content: center;
  align-items: left;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section img {
  border-radius: 50%;
  width: 10rem;
  height: 10 rem;
  margin-top: 10px;

}

.card {
  background-color: #ac2020;
  color: #000000;
}


body.modo-escuro footer p {
  color: #fff;

}


/* end of dark mode */


.logotipo {
  display: flex;
  justify-content: center;
}

#logo img {
  display: flex;
  width: 5rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


/* navbar */
.nav-item {
  display: flex;
  justify-content: left;
}

/* option #menu dessabled */
/*#menu {
    display: flex;
    justify-content: right;

}
 */

.container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-between;

  flex-direction: row;
}


/* make navbar transparent */
.bg-body-tertiary {
  --bs-bg-opacity: 0;
  --bs-tertiary-bg-rgb: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}


/* defines characteristics of buttons */
#acesso {
  cursor: pointer;
  color: var(--black);
  font-size: 0.6rem;
  outline: none;
  height: 2rem;
  text-align: left;
  border-radius: 8px;
}

#acesso:hover {
  background-color: var(--check--);
}




/* define with the collapse button */

button.navbar-toggler {
  background-color: var(--primary-color);
}

.navbar-toggler-icon {
  background-color: var(--primary-color);

}



.form-switch .form-check-input{
  margin-left: -1.5em;
}


#barra_pesquisa{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

#buscar {
  width: 6rem;

  cursor: pointer;
  color: var(--black);
  font-size: 0.6rem;
  outline: none;
  height: 1.7rem;
  text-align: center;
  border-radius: 8px;
  border-radius: .5rem;
  border-color: var(--black);
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--lite--);
  border: 1px solid var(--check--);
}


#buscar:hover {
  background-color: var(--check--);
}


#saibamais{
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
}
  
#saibamais:hover{
      background-color: #a33f37; 
}


/* button teeth icon */
svg {
  width: 40px;
  height: 25px;
}

.bntacesso {

  display: flex;
  flex-direction: row;

}

/* key for dark mode */

#toggle-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: left;
  font-size: 0.8rem;

}

#toggle-mode label {
  font-size: 0.6rem;
}




.btn-outline-success {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);

}

/* color label*/
#pesquisa_input{
  height: 1.5rem;
  background-color: var(--lite--);
  font-size: 0.7rem;
  border-radius: 8px;
  width: 13rem;
  border: 1px solid var(--check--);

}




input.form-control.me-2{
  font-size: 0.7rem;
}


/* search bar position */

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;

}


.container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-between;

  flex-direction: row;
}




.bg-body-tertiary {
  --bs-bg-opacity: 0
}

svg {
  width: 40px;
  height: 25px;
}

.bntacesso {

  display: flex;
  flex-direction: row;
}


.dropdown-menu.show {
  display: flex;
  justify-content: column;
  flex-direction: column;
}






.navbar>.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.higiene {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}



h1 {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  justify-content: center;
  text-align: center;
  margin: 1.25rem;
}




.higiene img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 30rem;
}

.higiene {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.higiene ul {
  display: flex;
  flex-direction: column;
}

.higiene li {
  margin: 1.5rem;
  text-align: left;
  list-style-type: circle;
  font-size: 1rem;

}






















#myBtn {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  border: none;
  outline: none;
  background: none;
  /*     background: var(--check--); ativar penas para teste */

  /*  color: white; */
  cursor: pointer;
  /*     border-radius: 10px; */


  /* 
      box-shadow:  0 0 0 0 var(--check--);
      border-radius: 50%;
      animation: alerta 1.5s infinite;
      transition: background, padding 500ms ease-in-out;   */

}






#myBtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;



  -webkit-animation-name: btn-pulsando;
  animation-name: btn-pulsando;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



@-webkit-keyframes btn-pulsando {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes btn-pulsando {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}




footer {


  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
}

footer p {
  font-size: 0.8rem;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--primary-color);
}


@media only screen and (max-width: 800px) {


  .higiene img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 1rem;
  }

  .higiene {
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }


}



@media only screen and (max-width: 768px) {


  .higiene img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .higiene {
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  
  #barra_pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

  }





}