@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    /* font-family: Josefin Sans;*/
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    /*     font-weight: 500;
 */

}



:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #969696;
    --gray-2: #d3d3d3;
    --card--: #FCF3E5;
    --check--:#fac08d;
    --dark--:#222;

    

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}


body {
    width: 100%;
    height: 100%;
    background: var(--white );

}

body.modo-escuro {
    background-color: #222;
    color: #fff;
}



body.modo-escuro h3{
    color: #fff;

}

body.modo-escuro label{
    color: #fff;

}

.card {
    background-color: #ac2020;
    color: #000000;
}


body.modo-escuro footer p{
    color: #fff;

}


header {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    text-align: center;
    margin-bottom: 3rem;

}


#logo img{
    display: flex;
    width: 6rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}




ul {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    list-style: none;
}



#acesso {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 0.7rem;
    outline: none;
    height: 2rem;
    margin: 15px;
    text-align: center;


}

#acesso:hover {
    background-color: #a33f37; 
}


svg {
    width: 40px;
    height: 25px;
}

.bntacesso{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


/* main {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
} */


h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px
}

label {

    margin: 10px;
    color: var(--black);

}




#pesquisa {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    height: 2.5rem;

}

#pesquisa:hover {
    background-color: #a33f37; 
}

#saibamais{
font-size: 0.6rem;

}

#saibamais:hover{
    background-color: #a33f37; 
}


label {
    font-size: 1rem;

}

.form-control {
    width: 55%;
    height: 3rem;
}



#filtro {
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-content: center;



}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.form-check-label {
    font-size: 0.8rem;
}


h3{
    text-align: center;
}


#resultados {

    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}


.card{

    margin: 1rem;
/*     border-radius: 1rem;*/  
    background: var(--card--);
    width: 15rem;
   
 
}


.card-text{
    font-size: 0.8rem;
    text-align: justify;

}

.card{
    transition: 500ms linear;

}

.card:hover{
    transform: scale(1.1);
}


.btn-primary{
    background: var(--primary-color);
    border: var(--primary-color);
}



h5{
    display: block; 
    height: 2.7rem;}


#myBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background:none;
/*     background: var(--check--); ativar penas para teste */

/*  color: white; */ 
    cursor: pointer;
/*     border-radius: 10px; */


/* 
    box-shadow:  0 0 0 0 var(--check--);
    border-radius: 50%;
    animation: alerta 1.5s infinite;
    transition: background, padding 500ms ease-in-out;   */

}




  

  #myBtn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;



    -webkit-animation-name: btn-pulsando;
    animation-name: btn-pulsando;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }



  @-webkit-keyframes btn-pulsando {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes btn-pulsando {
    0% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }






footer {


    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}



footer p {
    font-size: 0.8rem;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}


@media only screen and (max-width: 940px) {
    .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*         margin: 20px;
 */
        gap: 20px;
        width: 90%;

    }

    .form-control {

        width: 80%;
        height: 3rem;
    }


    #filtro {
        display: flex;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        margin-top: 3rem;


    }


    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}


@media only screen and (max-width: 730px) {

    #filtro {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 10%;
        margin-right: 10%;
        justify-items: start;
        align-items: center;



    }

    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}
@media only screen and (max-width: 729px) {

    #logo img {
        display: flex;
        width: 10rem;
        height: 6rem;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    
    #acesso {
        cursor: pointer;
        width: 8.5rem;
        border: none;
        padding: .6rem 0;
        border-radius: .5rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 0.8rem;
        outline: none;
        height: 2.7rem;
        margin: 10px;
        text-align: center;


    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: nowrap;
        flex-direction: row;


    } 

    #resultados {

        display: flex;
        flex-wrap: wrap;
        margin: 40px;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }


    .card{
        width: 18rem;
    }



    .nav-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }


    .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;

    }

    .form-control {

        width: 85%;
        height: 3rem;
    }

    #filtro {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8px;



    }


    .form-check {
        margin: none;

    }

    .form-check label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;

    }


    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}



@media only screen and (max-width: 435px) {



    #acesso {
        cursor: pointer;
        width: 8.5rem;
        border: none;
        padding: .6rem 0;
        border-radius: .5rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 0.8rem;
        outline: none;
        /*             height: 2.7rem; */
        margin: 10px;
        text-align: center;


    }

    


    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: nowrap;
        flex-direction: row;


    } 


    .bntacesso{

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .nav-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }


    .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;

    }

    .form-control {

        width: 85%;
        height: 3rem;
    }

    #filtro {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8px;



    }


    .form-check {
        margin: 0px;

    }

    .form-check label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;

    }



    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}





@media only screen and (max-width: 375px) {



    #acesso {
        cursor: pointer;
        width: 8.5rem;
        border: none;
        padding: .6rem 0;
        border-radius: .5rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 0.8rem;
        outline: none;
        height: 2.7rem;
        margin: 10px;
        text-align: center;


    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: nowrap;
        flex-direction: row;


    } 

    .nav-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }


    .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;

    }


    .bntacesso{

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .form-control {

        width: 85%;
        height: 3rem;
    }

    #filtro {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8px;
        /*             margin-bottom: 3rem;
 */


    }


    .form-check {
        margin: 0;

    }

    .form-check label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;


    }


    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}

@media only screen and (max-width: 360px) {



    #acesso {
        cursor: pointer;
        width: 8.5rem;
        border: none;
        padding: .6rem 0;
        border-radius: .5rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 0.8rem;
        outline: none;
        height: 2.7rem;
        margin: 10px;
        text-align: center;


    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: nowrap;
        flex-direction: row;


    } 

    .nav-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }


    .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;

    }


    .bntacesso{

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .form-control {

        width: 85%;
        height: 3rem;
    }

    #filtro {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 8px;
        /*             margin-bottom: 3rem;
 */


    }


    .form-check {
        margin: 0;

    }

    .form-check label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;


    }

    h5{
        display: block; 
        height: 2.7rem;}
    
    
    #myBtn {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 30px;
        width: 120px;
        z-index: 9999;
        border: none;
        outline: none;
        background:none;
    /*     color: white;
     */    cursor: pointer;
       /*  padding: 15px;
        border-radius: 10px; */
      }
      
     /*  #myBtn:hover {
        background-color: #555;
      }  */
    
   

    footer {


        bottom: 0;
        position: static;
        width: 100%;
        text-align: center;
        left: 0;

    }


    footer p {
        font-size: 0.8rem;
    }


}