@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;

}

/* color palettes */

:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #969696;
    --gray-2: #d3d3d3;
    --card--: #f8dfb8;
    --form--: #ffc975;
    --check--: #fac08d;
    --dark--: #222;
    --darkform--: #5c5c5c;
    --lite--:#f5ecde;


}


#categoria_receita li:last-child {
    display: none;
}

#categoria_receita {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#categoria_receita li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}


/* Estilizando os checkboxes */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 7px;
    outline: none;
    transition: 0.3s;
    margin-right: 5px;
    background-color: white;
}

input[type="radio"]:checked {
    background-color: #555;
}

/* call "body.mode" followed by the class or id to activate dark mode   */

body {
    width: 100%;
    height: 100%;
    background: var(--lite--);

}

body.modo-escuro {
    background-color: #222;
    color: #fff;
}


body.modo-escuro label {
    color: var(--card--);

}


body.modo-escuro form {
    background-color: var(--check---);
}


body.modo-escuro p {
    color: var(--white--);
}

body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--white--);
}



body.modo-escuro .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

body.modo-escuro .container {
    background-color: var(--darkform--);

}

body.modo-escuro .bg-body-tertiary {
    --bs-bg-opacity: 0;
}


body.modo-escuro .d-flex {
    background-color: var(--dark--);

}



body.modo-escuro header {
    justify-content: space-between;

    text-align: center;

}


body.modo-escuro .navbar-toggler-icon {
    color: #1DA1F2;
}



body.modo-escuro .container {
    background: var(--card--);
}

body.modo-escuro .form {
    background: var(--card--);
}


body.modo-escuro .navbar-toggler {
    background-color: var(--primary-color);
}


body.modo-escuro .dropdown-menu.show {
    background-color: var(--card--);
}


body.modo-escuro #acesso {
    cursor: pointer;
    color: var(--white);
    font-size: 0.9rem;
    outline: none;
    height: 2.5rem;
    text-align: left;
    border-radius: 8px;

}





body.modo-escuro svg {
    color: var(--white);
    width: 40px;
    height: 30px;
}



.svg-branco path,
.svg-branco rect,
.svg-branco circle,
.svg-branco polygon,
.svg-branco polyline,
.svg-branco line {
    fill: var(--white) !important;
    stroke: var(--white) !important;
}




body.modo-escuro #buscar {
    width: 9rem;

    cursor: pointer;
    color: var(--white);
    font-size: 0.6rem;
    outline: none;
    height: 1.7rem;
    text-align: center;
    border-radius: 8px;
    border-radius: .5rem;
    border-color: var(--black);
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--dark--);



}


body.modo-escuro h1 {
  color: var(--white);

}

body.modo-escuro h3 {
    color: var(--white);
}
body.modo-escuro p {
    color: var(--white);
}
body.modo-escuro label {
    color: #fbfbfb;
}


body.modo-escuro p.card-text {
    color: var(--black);
}


body.modo-escuro .date p {
    color: var(--black);
}

body.modo-escuro #resultados{
    background-color: transparent;
}


body.modo-escuro #toggle-mode label {
    display: flex;
    justify-content: left;
    font-size: 0.9rem;
    color: var(--white);
}
 
body.modo-escuro .todas_receitas a{

    color: var(--white);

}

header{
  display: flex;
/*     justify-content: space-between; */  
  flex-wrap: wrap;
}

.navbar-nav.me-auto.mb-2.mb-lg-0{
    display: flex;
    justify-content: left;
    margin: 0px;
    padding: 0px;

}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img{
    border-radius: 50%;
    width: 10rem;
    height: 10 rem;
    margin-top: 10px;

}
 .card {
    background-color: var(--card--);
}


/* body.modo-escuro #toggle-mode label {
    font-size: 0.6rem;
    color: var(--white);
}


body.modo-escuro footer p {
    color: #fff;

} */


/* end of dark mode */


.logotipo {
    display: flex;
    justify-content: center;
}

#logo img {
    display: flex;
    width: 5rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* navbar */
.nav-item {
    display: flex;
    justify-content: left;
}

/* option #menu dessabled */
/*#menu {
    display: flex;
    justify-content: right;

}
 */




 .navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  

/* make navbar transparent */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    --bs-tertiary-bg-rgb: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    width: 100%;
}


.dropdown-menu.show{
    background-color: var(--lite--);
}

/* defines characteristics of buttons */
#acesso {
    cursor: pointer;
    color: var(--black);
    font-size: 0.9rem;
    outline: none;
    height: 2.5rem;
    text-align: left;
    border-radius: 8px;
}



#acesso:hover {
    background-color: var(--check--);
}




/* define with the collapse button */

button.navbar-toggler {
    background-color: var(--primary-color);
}

.navbar-toggler-icon {
    background-color: var(--primary-color);

}


#buscar {
    width: 9rem;

    cursor: pointer;
    color: var(--black);
    font-size: 0.6rem;
    outline: none;
    height: 1.7rem;
    text-align: center;
    border-radius: 8px;
    border-radius: .5rem;
    border-color: var(--black);
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--white);




}


#buscar:hover {
    background-color: var(--check--);
}



/* button teeth icon */
svg {
    width: 40px;
    height: 30px;
}

.bntacesso {

    display: flex;
    flex-direction: row;

}

/* key for dark mode */



#toggle-mode {
    display: none;
    align-items: center;
    gap: 10px;
    justify-content: left;
    font-size: 0.7rem;
    margin-left: 8px;

}

#toggle-mode label {
    font-size: 0.7rem;
    color: var(--black);
}


.form-check-input:checked {
    background-color: #0961ee;
    border-color: #ffffff;
}



.btn-outline-success {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

}

/* color label*/
/* .form-control {
    height: 1.5rem;
    background-color: var(--check--);
    font-size: 0.7rem;
} */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.form-label{
    text-align: center;
    font-size: 0.7rem;
}



#pesquisa_input{
    font-size: 0.7rem;
    background-color: var(--card--);
    height: 2rem;
    width: 100%;
    border-radius: 8px;

}



input.form-control.me-2{
    font-size: 0.7rem;
    background-color: var(--white);
    height: 3rem;
}


/* search bar position */

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}



.navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}


main {
    display: flex;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 70rem;
    z-index: -1;
    opacity: 0.9;

}




h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;



}


.slogan {

    background-image: linear-gradient(to bottom, var(--primary-color), #faa508, #f06203);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

    color: black;
}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    width: 100%;
}

.mb-3 label {
    font-size: 1rem;

    margin: 10px;

}




#pesquisa {
    cursor: pointer;
    width: 8.5rem;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    height: 2.5rem;

}

#pesquisa:hover {
    background-color: #a33f37;

}


#mais{
    display: none;
}


label {
    font-size: 1rem;

}

/* .form-control {
    width: 100%;
    height: 3rem;
} */

.filtroCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
}

.filtroCategoria h3 {
    font-size: 1.2rem;
}


#filtro {
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;


}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}


.form-check-input[type=checkbox]{
    display:flex;
    justify-content: center;
    align-items: center;
}


#resultados {
    display: flex;
    gap: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;


}



#saibamais{
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}
    
#saibamais:hover{
        background-color: #a33f37; 
}


.todas_receitas{
    text-align: center;
    margin: 2rem;
}
    

.card {
    width: 13em;
    height: 25rem;



}


/* .card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    height: 5rem;
} */

/* .card a img {
    height: 6rem;

}
 */
.card-img-top {
    height: 9rem;

}

.card-text{
    height: 6rem;

}

.text {

    text-align: center;


}


.card-text {
    font-size: 0.8rem;
    text-align: justify;

}

.card {
    transition: 500ms linear;

}

.card:hover {
    transform: scale(1.1);
}



.date{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.date p{
   font-size: 0.6rem;
}


.todas_receitas{
    text-align: center;
    color: #000000;
}
.todas_receitas a{
    color: #000000;
}



.btn-primary {
    background: var(--primary-color);
    border: var(--primary-color);
}



h5 {
    display: block;
    height: 2.7rem;
}

ul .navbar-nav.me-auto.mb-2.mb-lg-0{
    margin: none;
}



#myBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background: none;
    /*     background: var(--check--); ativar penas para teste */

    /*  color: white; */
    cursor: pointer;
    /*     border-radius: 10px; */


    /* 
    box-shadow:  0 0 0 0 var(--check--);
    border-radius: 50%;
    animation: alerta 1.5s infinite;
    transition: background, padding 500ms ease-in-out;   */

}



@-webkit-keyframes btn-pulsando {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes btn-pulsando {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


#myBtn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;



    -webkit-animation-name: btn-pulsando;
    animation-name: btn-pulsando;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}




footer {


    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    padding-top: 6rem;
 
}



footer p {
    font-size: 0.9rem;
    margin: 0px;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}

/* @media only screen and (max-width: 2560px) {
    main {
        display: flex;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    main video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 50rem;
        z-index: -1;
        opacity: 0.6;
    }

} */

@media only screen and (max-width: 1200px) {



    main {
        display: flex;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    main video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 74rem;
        z-index: -1;
        opacity: 0.9;

    }

    .titulosite {

        font-size: 2.2rem;
    }

    .slogan{
        font-size:  1.8rem;
    }


    .mb-3 {
        width: 70%;
    }
  

    #filtro {
        display: flex;
        grid-template-columns: 2fr 1fr;
        justify-content: center;


    }

    .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 20px;
    }

    #resultados {
        display: flex;
        gap: 30px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: none;

    }
    main video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 46.6rem;
        z-index: -1;
        opacity: 0.6;
    }
}


@media only screen and (max-width: 1040px) {


    main {
        display: flex;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    main video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 74rem;
        z-index: -1;
        opacity: 0.9;

    }


    
    .titulosite {

        font-size: 2rem;
    }

    .slogan{
        font-size:  1.7rem;
    }


    .mb-3 {
        width: 70%;
    }

    #filtro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2rem);
        padding: 1rem;
        justify-content: center;


    }

    .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 20px;
    }

    #resultados {
        display: flex;
        gap: 30px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 15rem;


    }

    .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0;

    }
    footer {


        bottom: 0;
        width: 90%;
        text-align: center;
        left: 0;
        padding-top: 11rem;
        width: 100%;

    }

    footer p{
        font-size: 0.8rem;

    }

    
   

}

 
@media only screen and (max-width: 768px) {
    body{
        background-color: var(--lite--);
    }


    
    .titulosite {

        font-size: 2rem;
    }

    .slogan{
        font-size:  1.5rem;
    }


    body.modo-escuro svg {
        color: var(--white);
    }

    body.modo-escuro label {
        color: var(--card--);

    }


    body.modo-escuro p {
        color: var(--white--);
    }


    body.modo-escuro .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: var(--white--);
    }


    body.modo-escuro #acesso {
        cursor: pointer;
        color: var(--white);
        font-size: 0.9rem;
        outline: none;
        height: 2.5rem;
        text-align: left;
        border-radius: 8px;

    }


    body.modo-escuro h1 {
        color: var(--white);

    }

    body.modo-escuro h3 {
        color: var(--white);
    }

    body.modo-escuro p {
        color: var(--white);
    }

    body.modo-escuro label {
        color: #fbfbfb;
    }


    body.modo-escuro .todas_receitas a {

        color: var(--white);

    }


    body.modo-escuro #toggle-mode label {
        font-size: 0.6rem;
        color: var(--white);
    }


    body.modo-escuro footer p {
        color: #fff;

    }










    .svg-branco path,
    .svg-branco rect,
    .svg-branco circle,
    .svg-branco polygon,
    .svg-branco polyline,
    .svg-branco line {
        fill: var(--white) !important;
        stroke: var(--white) !important;
    }


   

    #mais {
        display: block;
        /* Mostrar o elemento */
    }

    .navbar-nav .dropdown-menu {
        position: center;
        width: 50%;
    }


    .nav-link.dropdown-toggle.show{
      width: 30%;    
    }



    #toggle-mode{
        display: block; /* Mostrar o elemento */
        align-items: center;
        gap: 10px;
        justify-content: left;
        font-size: 0.7rem;
        margin-left: 8px;
        margin-top: 10px;
        width: 45%;
        font-size: 0.8rem;
        
    }

    

    #toggle-mode label{
       
        font-size: 0.9rem;
        
    }






    #flexCheckDefault{
        border-color: black ;
    }

    .todas_receitas a{
        color: #000000;
        font-size: 0.8rem;
    }

    .mb-3{
        width: 80%;
    }

    input.form-control.me-2{
        font-size: 0.7rem;
        background-color: var(--white);
        height: 3rem;
        width: 100%;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: left;

    } 

    .mb-3{
        width: 80%;
    }


    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }


    main video {
       display: none;

    }

    

    #filtro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2rem);
        padding: 1rem;
        justify-content: center;


    }

    .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 20px;
    }

    #resultados {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 19rem;



    }

    .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0;

    }


}

 

@media only screen and (max-width: 365px) {

    .mb-3{
        width: 100%;
    }

    input.form-control.me-2{
        font-size: 0.7rem;
        background-color: var(--white);
        height: 3rem;
        width: 80%;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

  

    #filtro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2rem);
        padding: 1rem;
        justify-content: center;
        gap: 20px;


    }


    .card {
        width: 15rem;
    }

}





 