
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 12, 12);
    font-family: Josefin Sans;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;


}


:root {
    --primary-color: #d57119;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

body{
    width: 100%;
    height: 100%;
}



header {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: 100vw;
    gap: 1rem;


   


}


#acesso{
    cursor: pointer;
    width: 10%;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
    height: 2rem;
    text-align: center;
    margin: 8px;

    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}
main {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
 main video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
} 

nav  {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: right;
    align-items: center;

    cursor: pointer;
    width: 15%;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
    height: 2.4rem;  
    margin: 1rem;
    gap: 20px;



        
}
 

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 4rem;

    
   
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}


#pesquisa{
    cursor: pointer;
    width: 10%;
    border: none;
    padding: .6rem 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.4rem;
    outline: none;
    height: 3rem;

}

.text{
    display: flex;
    text-align: center;
    margin-right: 5px;

}

label {
    font-size: 1.4rem;

}

.form-control {
    width: 22%;
    height: 3rem;
}


footer{
   

    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    margin-top: 23rem;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color:var(--primary-color);
}
