<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Receitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/cadastro_receita.css">


</head>


<body>

    <header>



        <div class="logo">
            <a id=logo href="index.html"><img src="/imgs/logo.png" alt="Culinárioteca" title="Culinárioteca"></a>
        </div>


        <div class="bntacesso">



            <div class="form-check form-switch" id="toggle-mode">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Alterar tema</label>
            </div>


            <a href="/templates/login.html"> <button type="button" id="acesso" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-check" viewBox="0 0 16 16">
                        <path
                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path
                            d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                    </svg> Entrar</button></a>


            <a href="/templates/login.html"> <button type="button" id="acesso" class="btn btn-danger"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>Sair</button></a>
        </div>
    </header>


    <div class="container">
        <h1>Cadastro de Receita</h1>
        <form id="form-receita">
            <label for="nome" >Nome da Receita: </label>
            <input type="text" id="nome" name="nome" placeholder="Bolo simples" required>
            <label for="ingredientes">Ingredientes:</label>
            <textarea id="ingredientes" name="ingredientes" rows="4" required placeholder="3 xícaras (chá) de farinha de trigo..."></textarea>
            <label for="instrucoes">Instruções:</label>
            <textarea id="instrucoes" name="instrucoes" rows="4" placeholder="Misture as gemas, a margarina e o açúcar..." required></textarea>


            <div id="gerar_senha_tamanho">
                <label for="customRange1" class="form-label">Defina o tempo de preparo: <span id="valor"> </span>
                    minutos </label>
                <input type="range" class="form-range" id="customRange1" min="2" max="240" value="8">
            </div>


            <p>Escolha a categoria:</p>



            <div id="filtro">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sem Glútem
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Doces e Sobremesas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Bebidas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Vegano
                    </label>
                </div>
            </div>


            <div class="dropzone">
                <form class="dropzone-box">
                    <h2>Carregar e anexar arquivos
                    </h2>
                    <p>
                        Anexe imagens a sua receita
                    </p>
                    <div class="dropzone-area">
                        <div class="file-upload-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15rem" height="10rem" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                            </svg>
                        </div>
                        <p>Clique para fazer upload</p>
                        <input type="file" required id="upload-file" name="uploaded-file">
                        <p class="message">Nenhum arquivo selecionado
                        </p>
                    </div>

                </form>
            </div>


            <div id="cadastrar">

                <input type="submit" value="Cadastrar Receita">
                <input type="submit" value="Cancelar" id="cancelar">

            </div>
        </form>

        <script src="/js/script.js"></script>

        <div id="resultado"></div>




    </div>

    <footer>
        <p>Biblioteca de Receitas Culinárias &copy; 2024 - Todos os direitos reservados</p>
    </footer>

    <script>
        document.getElementById('form-receita').addEventListener('submit', function (event) {
            event.preventDefault();
            var nome = document.getElementById('nome').value;
            var ingredientes = document.getElementById('ingredientes').value;
            var instrucoes = document.getElementById('instrucoes').value;

            var receitaHtml = `
                <div class="receita">
                    <h2>${nome}</h2>
                    <p><strong>Ingredientes:</strong> ${ingredientes}</p>
                    <p><strong>Instruções:</strong> ${instrucoes}</p>
                </div>
            `;

            document.getElementById('resultado').insertAdjacentHTML('beforeend', receitaHtml);
            document.getElementById('form-receita').reset();
        });

        // temporizador
        let customRange1Element = document.querySelector("#customRange1");
        let sizeKey = document.querySelector("#valor");

        let charset = "";

        customRange1Element.addEventListener('input', function () {
            sizeKey.innerHTML = this.value;
        });



        // modo escuro

        document.getElementById('flexSwitchCheckDefault').addEventListener('click', function () {
            document.body.classList.toggle('modo-escuro');
        });



    </script>
</body>

</html>