<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.titulo_receita.label }}: {{ form.titulo_receita }}
            {% for error in form.titulo_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.descricao_receita.label }}: {{ form.descricao_receita }}
            {% for error in form.descricao_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.instrucoes_receita.label }}: {{ form.instrucoes_receita }}
            {% for error in form.instrucoes_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.ingredientes_receita.label }}: {{ form.ingredientes_receita }}
            {% for error in form.ingredientes_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.tempo_preparo.label }}: {{ form.tempo_preparo }}
            {% for error in form.tempo_preparo.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.dificuldade_receita.label }}: {{ form.dificuldade_receita }}
            {% for error in form.dificuldade_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.categoria_receita.label }}: {{ form.categoria_receita }}
            {% for error in form.categoria_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.imagem_receita.label }}: {{ form.imagem_receita() }}
            {% for error in form.imagem_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <input type="submit" value="Atualizar Receita">
    </form>
</body>
</html>