<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% set alertas = get_flashed_messages() %}
    {% if alertas %}
    {% for alerta in alertas %}
    <div class="alert-messege">{{ alerta }}</div>
    {% endfor %}
    {% endif %}
    <h1>Login</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            {{ form.login_email.label }}: {{ form.login_email }}
            {% for error in form.login_email.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.login_senha.label }}: {{ form.login_senha }}
            {% for error in form.login_senha.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <input type="submit" value="Login">
    </form>
</html>
