{% block navbar %}

<a href="/templates/index.html">Home</a>
{% if user %}
<a href="/templates/index.html">Home</a>
<a href="/templates/cadastro_receita.html">Cadastrar Receita</a>
<a href="/templates/configuracoes.html">Configureções</a>
<a href="/templates/configuracoes.html">Minhas Receitas</a>


<a href="/logout">Sair</a>
<a href="/templates/perfil/{{ user[0] }}"><img src="/static/uploads\{{ user[4] }}" alt="Imagem Perfil"></a>
{% else %}
<a href="/templates/login.html">Login</a>
<a href="/templates/cadastro_usuario.html">Cadastre-se</a>
<a href="/templates/dicas.html">Dicas</a>

{% endif %}
{% endblock %}