<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for receita in resultado_receita %}
    <H2>{{ receita[1] }} </H2>
    <img src="/static/uploads\{{ receita[10] }}" alt="pic1">
    {% if receita[11] != 'sem_video' %}
    <video width="400" controls>
        <source src="/static/uploads\{{ receita[11] }}" type="video/{{ receita[11].split('.')[1] }}">
    </video>
    {% else %}
    <p>Sem vídeo</p>
    {% endif %}
    <p>Por: <a href="/perfil/{{ receita[8] }}">{{ receita[7] }} </a></p>
    <p>Postado em: {{ receita[9] }}</p>
    {% if user[0] == receita[8] %}
    <a HREF="/editar_receita/{{ receita[0] }}">Editar</a>
    {% endif %}
    <p>Descrição</p>
    <p>Tempo médio: {{ receita[5] }} min </p>
    <p>Dificuldade: {{ receita[6] }} </p>
    <p>{{ receita[2] }} </p>
    <p>Instruções</p>
    <p>{{ receita[3] }} </p>
    <p>Ingredientes </p>
    <p>{{ receita[4] }} </p>
     {% if user %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            {{ form.comentario_receita.label }}: {{ form.comentario_receita }}
            {% for error in form.comentario_receita.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <input type="submit" value="Comentar">
    </form>
    {% else %}
    <p>Faça <a href="/login">Login</a> para comentar</p>
    {% endif %}
    {% if resultado_comentarios %}
    <p> Últimos comentários:</p>
    {% for comentario in resultado_comentarios %}
    <div style="background-color: #f0f0f0; padding: 20px; margin-bottom: 10px">
    <a href="/perfil/{{ comentario[0] }}">{{ comentario [1] }}</a> <p> Postado em: {{ comentario[3] }}</p>
        <p>Comentou: {{ comentario[2] }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum comentário</p>
    {% endif %}

{% endfor %}
</body>
</html>