<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/imgs/icon.png" width="24px" height="24px" type="image/x-icon" />

    <title>Biblioteca de Receitas Culinárias</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    >
      defer
    </script>
    <link rel="stylesheet" href="/static/receita.css" />
    <link rel="stylesheet" href="/template/login.html" />
  </head>

  <body>
    <header>
      <div class="logotipo">
        <a class="navbar-brand" id="logo" href="/templates/index.html"
          ><img src="/imgs/logo02.png" alt="Culinárioteca" title="Culinárioteca"/></a>
      </div>
    

        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
          <div class="container-fluid">
            <!-- <a  class="navbar-brand"id=logo href="/templates/index.html"><img src="/imgs/logo.png" alt="Culinárioteca"
                      title="Culinárioteca"></a> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="acesso"
                    aria-current="page"
                    href="/templates/index.html"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                      <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                    </svg>Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="acesso"
                    aria-current="page"
                    href="/templates/login.html"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>Login</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="acesso"
                    aria-current="page"
                    href="/templates/cadastro_usuario.html"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                    </svg>cadastre-se</a
                  >
                </li>

                <li class="form-check form-switch" id="toggle-mode">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Alterar tema</label
                  >
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Buscar
                </button>
              </form>
            </div>
          </div>
        </nav>

      <div class="modo-claro"></div>
    </header>

      <h1>Bolo de maçã com canela</h1>

      <section>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/imgs/imagem_teste.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/imgs/bolo_teste02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/imgs/bolo_teste03.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

         
        </div>

        <div class="ingredientes">
          <h3>Ingredientes:</h3>
          <ul>
            <li>1 caixa de creme de leita</li>
            <li>1 colher (sopa) de amido de milho</li>
            <li>1 colher de margarina</li>
            <li>1/2 litro de leite</li>
            <li>1 xícara de queijo ralado</li>
            <li>1 colher (sobremesa) de sal</li>
          </ul>
        </div>
      </section>


      <div class="favorito">

        <div id="favorito">
          <p>Avaliar receita</p>
           
    
        <div class="rating" title="Favorite">

          <input value="5" name="rate" id="star5" type="radio">
          <label title="text" for="star5"></label>
          <input value="4" name="rate" id="star4" type="radio">
          <label title="text" for="star4"></label>
          <input value="3" name="rate" id="star3" type="radio" checked="">
          <label title="text" for="star3"></label>
          <input value="2" name="rate" id="star2" type="radio">
          <label title="text" for="star2"></label>
          <input value="1" name="rate" id="star1" type="radio">
          <label title="text" for="star1"></label>
          

          
        </div>
      </div>
    </div>

      <div class="categoria">
          <h3>Categoria da receita: Vegana</h3>
      </div>

      <h3>Modo de Preparo:</h3>

      <div class="preparo">
        
        <ol>
          <li>Em um liquidificador, bata os ingredientes do bolo.</li>
          <li>Em uma tigela, misture o leite, o amido de milho e a margarina.</li>
          <li>Acrescente o leite condensado e bata por 3 minutos.</li></li>
          <li>Desligue o fogo e adicione o açúcar.</li>
          <li>Asse em forno médio (180° C) por 40 minutos.</li>
          <li>Retire do fogo e deixe esfriar.</li>
        </ol>  

          <img src="/imgs/chef.png" alt="">
      </div>


      <div class="video">
<!--         <video src="https://youtu.be/Rl_1XhK7Sxw" controls autoplay loop muted></video> -->     
              <iframe  src="https://www.youtube.com/embed/LS-mqCdKq9Q" title="🔴 As Comidas de Rua mais Nojentas da India PARTE 2. + Nojento ainda!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <div class="tempo">
        <h3>Tempo de Preparo:  50min <img src="/imgs/relogio.png" alt="relogio" title="relogio" width="40px" height="40px"></h3>
      </div>



      <button onclick="topFunction()" id="myBtn" title="Cadastre uma Receita">
        <img src="/imgs/botaoflutuante3.png" width="140rem" height="150rem" alt="Logo" /><br>
      </button>
    
      <script>
        window.onscroll = function () { scrollFunction() };
    
        /*  function scrollFunction() {
           if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
             document.getElementById("myBtn").style.display = "block";
           } else {
             document.getElementById("myBtn").style.display = "none";
           }
         } */
    
        function topFunction() {
          // Redirecionar para o link desejado
          window.location.href = "/templates/cadastro_receita.html";
        }
    
    
      </script>






    <footer>
      <p>
        Biblioteca de Receitas Culinárias &copy; 2024 - Todos os direitos
        reservados
      </p>
    </footer>
  </body>

  <script>
    // modo escuro

    document
      .getElementById("flexSwitchCheckDefault")
      .addEventListener("click", function () {
        document.body.classList.toggle("modo-escuro");
      });
  </script>
</html>
